<%- include("partials/head",{title:"Sign up"}) %>

<body>
    <%- include("partials/nav") %>
    <main>
        <div class="content">
            <h2>this view is guarded</h2>
            <p>wheel of time is good</p>
            <p>true treasure is frienship</p>

        </div>
    </main>
    <%- include("partials/footer") %>
</body>