<%- include("partials/head",{title:"Home"}) %>
<body>
    <%- include("partials/nav") %>
    <main>
        <h1>Home</h1>
        <p>log in or sign up to see content</p>
        <p>this is made with node, express, mongodb and jwt</p>
    </main>
    <%- include("partials/footer") %>
</body>